version: '3.8'

services:
  backend:
    build: ./backend
    container_name: coffee-backend
    volumes:
      - ./uploads:/app/uploads
      - ./data:/app/data
    networks:
      - web

  frontend:
    build: ./frontend
    container_name: coffee-frontend
    depends_on:
      - backend
    networks:
      - web

networks:
  web:
    external: true
    name: $DOCKER_MY_NETWORK
